@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #020817;
    --card: #FFFFFF;
    --card-foreground: #020817;
    --popover: #FFFFFF;
    --popover-foreground: #020817;
    --primary: #2463EB;
    --primary-foreground: #F8FAFC;
    --secondary: #F1F5F9;
    --secondary-foreground: #0F1729;
    --muted: #F1F5F9;
    --muted-foreground: #65758B;
    --accent: #F1F5F9;
    --accent-foreground: #0F1729;
    --destructive: #EF4343;
    --destructive-foreground: #F8FAFC;
    --border: #E1E7EF;
    --input: #E1E7EF;
    --ring: #2463EB;
  }
  
  .dark {
    --background: #020817;
    --foreground: #FFFFFF;
    --card: #020817;
    --card-foreground: #FFFFFF;
    --popover: #020817;
    --popover-foreground: #FFFFFF;
    --primary: #3C83F6;
    --primary-foreground: #0F1729;
    --secondary: #1F2A3D;
    --secondary-foreground: #F8FAFC;
    --muted: #1F2A3D;
    --muted-foreground: #94A3B8;
    --accent: #1F2A3D;
    --accent-foreground: #F8FAFC;
    --destructive: #811D1D;
    --destructive-foreground: #F8FAFC;
    --border: #1F2A3D;
    --input: #1F2A3D;
    --ring: #1D4FD7;
  }
  
  }
  

  @layer base {

    *,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}


    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }


    body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}


body {
  min-height: 100vh;

}

h1, h2,
h3, h4 {
  text-wrap: balance;
}


img,
picture {
  max-width: 100%;
  display: block;
}

  }